<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Formulario</h3>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" #personaForm="ngForm" class="row g-2">
            <div class="form-floating mb-md-3 col-md-6">

                <input type="text" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="persona.firstName"
                    placeholder="Ingrese su nombre" minlength="5" class="form-control" required
                    [ngClass]="{'is-valid': firstName.valid, 'is-invalid':firstName.invalid}">
                <label for="firstName" class="form-label">Primer Nombre</label>

                <div class="invalid-feedback" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors?.['required']">
                        El nombre es requerido
                    </div>
                    <div *ngIf="firstName.errors?.['minlength']">
                        El nombre debe tener al menos 4 caracteres
                    </div>
                </div>
            </div>


            <div class="form-floating mb-md-3 col-md-6">

                <input type="text" id="secondName" name="secondName" #secondName="ngModel"
                    [(ngModel)]="persona.secondName" placeholder="Ingrese su segundo nombre" minlength="4"
                    class="form-control" [ngClass]="{'is-valid': secondName.valid, 'is-invalid':secondName.invalid}">
                <label for="secondName" class="form-label">Segundo Nombre</label>

            </div>

            <div class="form-floating mb-md-3 col-md-6">

                <input type="text" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)]="persona.lastName"
                    placeholder="Ingrese su apellido" minlength="5" class="form-control" required
                    [ngClass]="{'is-valid': lastName.valid, 'is-invalid':lastName.invalid}">
                <label for="lastName" class="form-label">Primer Apellido</label>
                <div class="invalid-feedback" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors?.['required']">
                        El apellido es requerido
                    </div>
                    <div *ngIf="lastName.errors?.['minlength']">
                        El apellido debe tener al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="form-floating mb-md-3 col-md-6">

                <input type="text" id="secondLastName" name="secondLastName" #secondLastName="ngModel"
                    [(ngModel)]="persona.secondLastName" placeholder="Ingrese su segundo apellido" minlength="5"
                    class="form-control" required
                    [ngClass]="{'is-valid': secondLastName.valid, 'is-invalid':secondLastName.invalid}">
                <label for="secondLastName" class="form-label">Segundo Apellido</label>
                <div class="invalid-feedback"
                    *ngIf="secondLastName.invalid && (secondLastName.dirty || secondLastName.touched)">
                    <div *ngIf="secondLastName.errors?.['required']">
                        El segundo apellido es requerido
                    </div>
                    <div *ngIf="secondLastName.errors?.['minlength']">
                        El segundo apellido debe tener al menos 5 caracteres
                    </div>
                </div>
            </div>

            <div class="form-floating mb-md-3 col-md-6">

                <input type="date" id="birthDate" name="birthDate" #birthDate="ngModel" [(ngModel)]="persona.birthDate"
                    placeholder="Ingrese su fecha de nacimiento" class="form-control" required
                    [ngClass]="{'is-valid': birthDate.valid, 'is-invalid':birthDate.invalid}"
                    (change)="onSelectChange($event)">
                <label for="birthDate" class="form-label">Fecha Nacimiento</label>
            </div>

            <!-- age read only -->
            <div class="form-floating mb-md-3 col-md-6">
                <input type="text" id="age" name="age" #age="ngModel" [(ngModel)]="edad" placeholder="Ingrese su edad"
                    class="form-control" readonly>
                <label for="age" class="form-label">Edad</label>
            </div>

            <div class="form-floating mb-md-3 col-md-6">
                <select class="form-select" id="escolaridad" name="escolaridad" #escolaridad="ngModel"
                    [(ngModel)]="persona.escolaridad" class="form-control" required
                    [ngClass]="{'is-valid': escolaridad.valid, 'is-invalid':escolaridad.invalid}">
                    <option value="">Seleccione una opción</option>
                    <option value="Primaria">Primaria</option>
                    <option value="Secundaria">Secundaria</option>
                    <option value="Preparatoria">Preparatoria</option>
                    <option value="Universidad">Universidad</option>
                </select>
                <label for="Escolaridad" class="form-label">Estudios</label>
                <div class="invalid-feedback" *ngIf="escolaridad.invalid && (escolaridad.dirty || escolaridad.touched)">
                    <div *ngIf="escolaridad.errors?.['required']">
                        La escolaridad es requerida
                    </div>
                </div>
            </div>
            <div class="mb-md-3 col-md-6">
                <label class="form-label mb-3">Sexo: &nbsp;</label>
                <div class="form-check form-check-inline mb-3" *ngFor="let sex of sexOptions">
                    <input class="form-check-input" type="radio" name="sexo" (click)="cambiarSexo(sex)">
                    <label class="form-check-label">{{sex.name}}</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-5 col-6" [disabled]="personaForm.invalid">Guardar</button>

        </form>
    </div>
    <div class="row fs-6">
        {{persona | json}}
    </div>
    <div class="row">
        <!-- display personas array values in table format -->
            <h3>Personas</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Fecha Nacimiento</th>
                        <th>Escolaridad</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-persona [ngForOf]="personas">
                        <tr [ngClass]="checkEdad(persona.birthDate)?'red':''">
                            <td>{{ persona.firstName }}</td>
                            <td>{{ persona.lastName }}</td>
                            <td>{{ persona.secondLastName }}</td>
                            <td>{{ persona.birthDate }}</td>
                            <td>{{ persona.escolaridad }}</td>
                            <td>{{ persona.sexo }}</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>

    </div>
</div>
